<div class="d-flex justify-content-center mt-4">
    <form [formGroup]="empleadoForm" (ngSubmit)="submitForm()" class="w-50 bg-light border border-dark rounded p-4 mb-3 mx-5">
      
      <h5 class="text-center">
        <b>{{ isEditing ? 'Editar Empleado' : 'Crear Empleado' }}</b>
      </h5>
  
      <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
      <div *ngIf="success" class="alert alert-success">{{ success }}</div>
      
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" id="nombre" class="form-control" formControlName="nombre" placeholder="Debe tener como mucho 15 caracteres">
      </div>
  
      <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" id="apellido" class="form-control" formControlName="apellido" placeholder="Debe tener como mucho 15 caracteres">
      </div>
  
      <div class="mb-3">
        <label for="email" class="form-label">Correo Electronico</label>
        <input type="text" id="email" class="form-control" formControlName="email" placeholder="Debe tener como mucho 15 caracteres">
      </div>
  
      <div class="mb-3">
        <label for="telefono" class="form-label">Telefono</label>
        <input type="text" id="telefono" class="form-control" formControlName="telefono">
      </div>
  
      <div class="mb-3">
        <label for="nombreUsuario" class="form-label">Nombre de Usuario</label>
        <input type="text" id="nombreUsuario" class="form-control" formControlName="nombreUsuario">
      </div>
      
      <div class="mb-3">
        <label for="contrasenia" class="form-label">Contraseña</label>
        <input type="text" id="contrasenia" class="form-control" formControlName="contrasenia" placeholder="Debe tener 8 caracteres">
      </div>
  
      <div class="d-flex justify-content-around">
        <button type="button" class="btn btn-danger" (click)="resetForm()">Cancelar</button>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </form>
  </div>
