<footer class="bg-dark text-center text-lg-start text-light py-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-3">Tienda de Ropa</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a class="link-light text-decoration-none" [routerLink]="'/'">Home</a></li>
            <li class="mb-2"><a class="link-light text-decoration-none" [routerLink]="'/clienteList'">Ver Clientes</a></li>
            <li class="mb-2"><a class="link-light text-decoration-none" [routerLink]="'/empleadoList'">Ver Empleados</a></li>
            <li class="mb-2"><a class="link-light text-decoration-none" [routerLink]="'/productoList'">Ver Productos</a></li>
            <li class="mb-2"><a class="link-light text-decoration-none" [routerLink]="'/promocionList'">Ver Promociones</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-3">Cuenta</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a class="link-light text-decoration-none" [routerLink]="'/login'">Iniciar Sesión</a></li>
            <li class="mb-2"><a class="link-light text-decoration-none" [routerLink]="'/register'">Registrarse</a></li>
          </ul>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col text-center">
          <p class="mb-0">© 2024 Tienda de Ropa. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </footer>

