<div class="container-fluid mt-5 w-75">
    <div class="row border p-2 rounded rounded-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">{{ promocion.descripcion }}</h5>
          <p class="card-text"><strong>Descripción: </strong> {{ promocion.descripcion }}</p>
          <p class="card-text"><strong>Fecha Inicio : </strong> {{ promocion.fechaInicio }}</p>
          <p class="card-text"><strong>Fecha Fin : </strong> {{ promocion.fechaFin }}</p> 
          <p class="card-text"><strong>Descuento : </strong> {{ promocion.descuento }}</p>
        </div>
      </div>
    </div>
  </div>
  